@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    var rootNode = CurrentPage.AncestorOrSelf(1);
    //var logo = Umbraco.Media(rootNode.logo);
    char[] splitChar = { ',' };
    string[] ids = CurrentPage.AncestorOrSelf(1).logo.ToString().Split(splitChar, StringSplitOptions.RemoveEmptyEntries);
}

<div class="mobile-nav-wrapper">
    <div class="mobile-target">
        @{

            var mainLogo = Umbraco.Media(ids[0]);
            <a class="mobile-logo" href="@rootNode.Url"><img src="@mainLogo.umbracoFile" alt="@rootNode.Name" /></a>

        }
        <span>
            <i class="material-icons">menu</i>
            MENU
        </span>
    </div>
    <div class="mobile-nav" id="mobile-nav">

    </div>
</div>

<header>
    <div class="row logo-row">
        <h1 class="logo">
            <a href="@rootNode.Url">
                @{

                    foreach (string id in ids)
                    {
                        var dynamicMediaItem = Umbraco.Media(id);
                        <img src="@dynamicMediaItem.umbracoFile" alt="@rootNode.Name" />
                    }

                }
            </a>
        </h1>


    </div>


    @Html.Partial("navigation")
</header>
