@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    var rootNode = CurrentPage.AncestorOrSelf(1);
    //var logo = Umbraco.Media(rootNode.logo);
}

<div class="mobile-nav-wrapper">
    <div class="mobile-target">
        @{
            var logo = Umbraco.Media(rootNode.logo);
            <img src="@logo.Url" alt="" />

        }
        <i class="material-icons">menu</i>
        <span>MENU</span>
    </div>
    <div class="mobile-nav" id="mobile-nav">

    </div>
</div>

<header>
    <div class="row logo-row">
        <h1 class="logo">
            <a href="@rootNode.Url">
                @{
                    char[] splitChar = { ',' };
                    string[] ids = CurrentPage.AncestorOrSelf(1).logo.ToString().Split(splitChar, StringSplitOptions.RemoveEmptyEntries);

                    foreach (string id in ids)
                    {
                        var dynamicMediaItem = Umbraco.Media(id);
                        <img src="@dynamicMediaItem.umbracoFile" alt="@rootNode.Name" />
                    }

                }
            </a>
        </h1>


    </div>


    @Html.Partial("navigation")
</header>
