@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    var rootNode = CurrentPage.AncestorOrSelf(1);
    //var logo = Umbraco.Media(rootNode.logo);
}


@{ 
    dynamic selection = CurrentPage.Site().Children.Where("Visible");
}


<nav class="main-nav" id="main-nav">
    <ul>
    @foreach (var item in selection)
    {
        <li @(item.Children.Where("Visible").Any() ? "class=has-children" : "")>
            <a 
               @(item.hiddenNavEl.ToString() == "Hidden" ? "class=hidden" : "")
               @(item.Children.Where("Visible").Any() ? "" : "href=" + item.Url + "")>

                @item.Name @if (item.Children.Where("Visible").Any())
                {
                    <i class="material-icons">keyboard_arrow_down</i>
                }
            </a>
            @if(item.Children.Where("Visible").Any())
            {
                <ul class="submenu is-hidden">
                    <div class="row">
                        @if (item.Children.Where("Visible").Count() > 3)
                        { 

                           foreach (var navGroup in item.Children.InGroupsOf(4))
                           {
                                <div class="one-third-col">
                                    @foreach (var child in navGroup)
                                    {

                                        var extLink = child.linkInfo;
                                        if (child.DocumentTypeAlias == "ExternalLink")
                                        {
                                            foreach (var linkItem in extLink)
                                            {
                                                <li><a @(child.hiddenNavEl.ToString() == "Hidden" ? "class=hidden" : "") href="@linkItem.Url" target="@linkItem.Target">@linkItem.Name</a></li>
                                            }


                                        }
                                        else
                                        {
                                            <li><a @(child.hiddenNavEl.ToString() == "Hidden" ? "class=hidden" : "") href="@child.Url">@child.Name</a></li>
                                        }
                                    }
                                </div>
						   } 


						
						} else {
							   
							   <div class="one-third-col">
                                    @foreach (var children in item.Children.Where("Visible"))
                                    {

                                        if (children.DocumentTypeAlias == "ExternalLink")
                                        {
                                            var extLink = children.linkInfo;
                                            foreach (var linkItem in extLink)
                                            {
                                                <li><a @(children.hiddenNavEl.ToString() == "Hidden" ? "class=hidden" : "") href="@linkItem.Url" target="@linkItem.Target">@linkItem.Name</a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li><a @(children.hiddenNavEl.ToString() == "Hidden" ? "class=hidden" : "") href="@children.Url">@children.Name</a></li>
                                        }

                                    }
                                </div>
							   
						   }
                       </div> <!-- row -->

            </ul> 
            }
        </li>
    }

    </ul>
</nav>