@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using RJP.MultiUrlPicker;

@{
    Layout = null;

    var rootNode = CurrentPage.AncestorOrSelf(1);
    char[] splitChar = { ',' };
    string[] docs = CurrentPage.documents.ToString().Split(splitChar, StringSplitOptions.RemoveEmptyEntries);

    var multiUrlPicker = CurrentPage.multiLink;
}

<nav class="sidebar" id="sidebar">
    @if (Model.Content.Children.Count() > 0 || multiUrlPicker.Any())
    {
        <h6>Important Links</h6>
        <ul>
            @foreach (var childPage in CurrentPage.Children)
            {
                <li><a href="@childPage.Url">@childPage.Name</a></li>
            }
            @foreach (var item in multiUrlPicker)
            {
                <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
            }
        </ul>
    }

    @if (CurrentPage.Parent.Name != rootNode.Name) 
    {
        <h6>@CurrentPage.Parent.Name</h6>
        <ul>
            @foreach (var page in CurrentPage.Parent.Children)
            {
                <li><a href="@page.Url">@page.Name</a></li>
            }
        </ul>
    }
    <a class="btn btn-disable btn-lg" href="@rootNode.registerButton.ToString()" target="_blank">Register Now!</a>

</nav>