@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{
    var rootNode = CurrentPage.AncestorOrSelf(1);
}

    <div class="hero">
        <span id="top"></span>
        @{
            if (CurrentPage.HasValue("heroImage"))
            {
                var dynamicMediaItem = Umbraco.Media(CurrentPage.heroImage);
                <style>
                        .hero {
                            background: url(@dynamicMediaItem.umbracoFile) no-repeat;
                            background-size: cover;
                            width: 100%;
                            height: auto;
                            border-radius: 0;
                            z-index: -9999;
                        }

                    .logo-row {
                        margin-bottom: 0; 
                    }
                    .logo {
                    margin: 0.5em 0 0 0 !important;
                    }
                    .PaperCon-scheme .logo-row img:nth-of-type(2) {
                        display: none;
                    }
                </style>
            }
            else if (CurrentPage.HasValue("heroColor"))
            {
                var color = Model.Content.GetPropertyValue("heroColor");
                
                <style>
                    .hero {
                        background: @color;
                        border-radius: 0;
                        z-index: -999;
                    }
                    .PaperCon-scheme .logo-row img:nth-of-type(2) {
                        display: none;
                    }
                </style>
            }
            else
            {
                <style>
                    .hero {
                        background: #02995c;
                    }
                    .PaperCon-scheme .logo-row img:nth-of-type(2) {
                        display: none;
                    }
                </style>
            }
        }
        <div class="hero-gradient">
            <div class="row">
                <div class="page-head">
                    <h1>@Umbraco.Field("pageTitle")</h1>
                    <h4>@Umbraco.Field("pageSubheader")</h4>
                </div>
            </div>
        </div>
        
    </div>

<main role="main" class="row child-body">

    <div class="four-col">
        @Html.Partial("Sidebar")
    </div>

    <div class="content three-fourth-col">
        @if (CurrentPage.hiddenNavEl.ToString() == "Hidden")
        {
            <div class="info-coming">
                <a href="http://www.tappi.org/" target="_blank"><img src="~/App/img/TAPPI_logo.png" width="180" /></a>
                <h2><i class="fa fa-exclamation-circle"></i> Information coming soon...</h2>
                <p>We're sorry! TAPPI is working to deliver this information soon. Check back often! Sign up below to get the latest updates!</p>

                <form>
                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" name="fullName" id="fullName" placeholder="Enter Full Name" />
                    </div>
                    <div class="form-group">
                        <label for="validEmail">Email</label>
                        <input type="text" name="Email" id="validEmail" placeholder="Enter Email" />
                    </div>
                    <button type="submit" class="btn">Send It!</button>
                </form>
            </div>
        }
        @if (CurrentPage.mainContent != null) {
            @CurrentPage.mainContent
        }
        @Model.Content.GetGridHtml("additionalContent", "Bootstrap2")
        @Model.Content.GetGridHtml("UICards")

          @*<section class="row child-bg">
                <div class="one-col">
                    <h4>2016 Program Schedule</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend posuere risus, vel ultrices sapien venenatis non. Vivamus id quam eu augue tempor volutpat eget ac odio. Curabitur eu porttitor risus. Curabitur sit amet tortor sit amet ante varius placerat. Vivamus quis purus vitae dolor tincidunt accumsan. Mauris sem lorem, commodo in sapien at, mollis aliquet arcu. Nullam massa mi, tristique id sapien in, maximus accumsan mauris. Nam rutrum, lacus a tristique accumsan, felis ligula mattis massa, eu euismod nisl odio eleifend eros. Duis commodo vestibulum enim, vel auctor sapien mattis sit amet. Quisque hendrerit ornare nibh, vitae iaculis justo efficitur a. Integer at tellus mauris. Quisque semper blandit placerat. Suspendisse a sapien nec arcu fringilla cursus.
                    </p>

                    <article role="article">

                        <section class="event-program">
                            <ol class="sessions">
                                <li class="single-session day">
                                    <time class="day-start">Monday, May 15</time>
                                </li>
                                <li class="single-session">
                                    <time>9:30am - 10:30am</time>
                                    <div class="session-description">
                                        <span>Welcome Breakfast</span>
                                    </div>
                                </li>
                            </ol>

                            <ol class="sessions">
                                <li class="single-session day">
                                    <time class="day-start">Tuesday, May 15</time>
                                </li>
                                <li class="single-session">
                                    <time>9:30am - 10:30am</time>
                                    <div class="session-description">
                                        <span>Welcome Breakfast</span>
                                    </div>
                                </li>
                                <li class="single-session">
                                    <time>9:30am - 10:30am</time>
                                    <div class="session-description">
                                        <span><h6>T1 - Tissue Market Overview</h6></span><br/>
                                        <p>Session Chair: Ken Patrick, TAPPI</p>
                                        <span style="font-weight: bold;">"Market Trends, Industry Actions in North American Tissue"</span><br/>
                                        <span><i>Soile Kilpe, Director, Poyry Management Consulting North America</i></span>
                                        <br /><br />
                                        <span style="font-weight: bold;">"Market Trends, Industry Actions in North American Tissue"</span><br />
                                        <span><i>Soile Kilpe, Director, Poyry Management Consulting North America</i></span>
                                    </div>
                                </li>
                                <li class="single-session">
                                    <time>9:30am - 10:30am</time>
                                    <div class="session-description">
                                        <span>Welcome Breakfast</span>
                                    </div>
                                </li>
                                <li class="single-session">
                                    <time>9:30am - 10:30am</time>
                                    <div class="session-description">
                                        <span>Welcome Breakfast</span>
                                    </div>
                                </li>
                                <li class="single-session">
                                    <time>9:30am - 10:30am</time>
                                    <div class="session-description">
                                        <span>Welcome Breakfast</span>
                                    </div>
                                </li>
                                <li class="single-session">
                                    <time>9:30am - 10:30am</time>
                                    <div class="session-description">
                                        <span>Welcome Breakfast</span>
                                    </div>
                                </li>
                            </ol>

                            <ol class="sessions">
                                <li class="single-session day">
                                    <time class="day-start">Tuesday, May 15</time>
                                </li>
                                <li class="single-session">
                                    <time>9:30am - 10:30am</time>
                                    <div class="session-description">
                                        <span>Welcome Breakfast</span>
                                    </div>
                                </li>
                                <li class="single-session">
                                    <time>9:30am - 10:30am</time>
                                    <div class="session-description">
                                        <span>Welcome Breakfast</span>
                                    </div>
                                </li>
                                <li class="single-session">
                                    <time>9:30am - 10:30am</time>
                                    <div class="session-description">
                                        <span>Welcome Breakfast</span>
                                    </div>
                                </li>
                                <li class="single-session">
                                    <time>9:30am - 10:30am</time>
                                    <div class="session-description">
                                        <span>Welcome Breakfast</span>
                                    </div>
                                </li>
                                <li class="single-session">
                                    <time>9:30am - 10:30am</time>
                                    <div class="session-description">
                                        <span>Welcome Breakfast</span>
                                    </div>
                                </li>
                                <li class="single-session">
                                    <time>9:30am - 10:30am</time>
                                    <div class="session-description">
                                        <span>Welcome Breakfast</span>
                                    </div>
                                </li>
                            </ol>
                        </section>

                    </article>
                </div>
             </section>*@ 

      <!--       <section class="row">
                <div class="one-third-col">
                    <article class="card">
                        <div class="card-inner">
                            <div class="card-title">
                                <h4>Call For Papers</h4>
                            </div>
                            <div class="card-text">
                                <p>This is a simple card for tidbits of information. Important links or a quick line is all you need. Limit to the size of a tweet.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><i class="material-icons">account_circle</i> Speaker Bio</a>
                                <a href="#"><i class="material-icons">picture_as_pdf</i> Download Session</a>
                            </div>
                        </div>
                    </article>
                    <article class="card card-with-image">
                        <div class="card-inner">
                            <div class="card-title-image">
                                <img src="~/App/img/speaker1.jpg" />
                                <h4 class="card-header">Speaker Profile</h4>
                            </div>
                            <div class="card-text">
                                <p>View the updated PaperCon 2016 conference program. The schedule is updated often. Thank you Amanda Thomas.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><i class="material-icons">schedule</i> Program</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="one-third-col">
                    <article class="card card-with-image">
                        <div class="card-inner">
                            <div class="card-title-image">
                                <img src="~/App/img/speaker1.jpg" />
                                <h4 class="card-header">Speaker Profile</h4>
                            </div>
                            <div class="card-text">
                                <p>View the updated PaperCon 2016 conference program. The schedule is updated often. Thank you Amanda Thomas.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><i class="material-icons">schedule</i> Program</a>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card-inner">
                            <div class="card-title">
                                <h4>Call For Papers</h4>
                            </div>
                            <div class="card-text">
                                <p>This is a simple card for tidbits of information. Important links or a quick line is all you need. Limit to the size of a tweet.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><i class="material-icons">account_circle</i> Speaker Bio</a>
                                <a href="#"><i class="material-icons">picture_as_pdf</i> Download Session</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="one-third-col">
                    <article class="card card-with-image">
                        <div class="card-inner">
                            <div class="card-title-image">
                                <img src="/media/1003/jim_hannan_1.jpg" />
                                <h4 class="card-header">Speaker Profile</h4>
                            </div>
                            <div class="card-text">
                                <p>Careful consideration of image specs need to be though out before submitting webtasks. Image shouldn't be huge.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><i class="material-icons">account_circle</i> Speaker Bio</a>
                                <a href="#"><i class="material-icons">picture_as_pdf</i> Download Session</a>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card-inner">
                            <div class="card-title">
                                <h4>Call For Papers</h4>
                            </div>
                            <div class="card-text">
                                <p>This is a simple card for tidbits of information. Important links or a quick line is all you need. Limit to the size of a tweet.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><i class="material-icons">account_circle</i> Speaker Bio</a>
                                <a href="#"><i class="material-icons">picture_as_pdf</i> Download Session</a>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

           <section class="row">
                <ul class="collection">
                    <li class="collection-head"><h5>Collection Header</h5></li>
                    <li class="collection-item">List item 1</li>
                    <li class="collection-item">List item 2</li>
                    <li class="collection-item">List item 3</li>
                    <li class="collection-item">List item 4</li>
                </ul>
            </section>

            <section class="row">
                <p>NOTE: These image assets must be same-width same-height to be circle. Else it will be an oval.</p>
                <ul class="collection media-collection">
                    <li class="collection-item avatar-item">
                        <img src="~/App/img/speaker1-round.jpg" />
                        <span class="title">Title</span>
                        <p>First Line</p>
                        <p>Second Line</p>
                    </li>
                    <li class="collection-item avatar-item">
                        <img src="~/App/img/speaker1-round.jpg" />
                        <span class="title">Title</span>
                        <p>First Line</p>
                        <p>Second Line</p>
                    </li>
                    <li class="collection-item avatar-item">
                        <img src="~/App/img/speaker1-round.jpg" />
                        <span class="title">Title</span>
                        <p>First Line</p>
                        <p>Second Line</p>
                    </li>
                    <li class="collection-item avatar-item">
                        <img src="~/App/img/speaker1-round.jpg" />
                        <span class="title">Title</span>
                        <p>First Line</p>
                        <p>Second Line</p>
                    </li>
                </ul>
            </section> -->
        </div>
    <a href="#top">Back to Top</a>
    
</main>