@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{
    var rootNode = CurrentPage.AncestorOrSelf(1);
    char[] splitChar = { ',' };
    string[] docs = CurrentPage.documents.ToString().Split(splitChar, StringSplitOptions.RemoveEmptyEntries);

    var multiUrlPicker = CurrentPage.multiLink;
}

    <div class="hero">
        <span id="top"></span>
        @{
            if (CurrentPage.HasValue("heroImage"))
            {
                var dynamicMediaItem = Umbraco.Media(CurrentPage.heroImage);
                <style>
                        .hero {
                            background: url(@dynamicMediaItem.umbracoFile) no-repeat;
                            background-size: cover;
                            width: 100%;
                            height: auto;
                            border-radius: 0;
                            z-index: -9999;
                        }

                    .logo-row {
                        margin-bottom: 0; 
                    }
                    .logo {
                    margin: 0.5em 0 0 0 !important;
                    }
                    .PaperCon-scheme .logo-row img:nth-of-type(2) {
                        display: none;
                    }
                    .PaperCon-scheme .logo-row img:nth-of-type(3) {
                        display: none; 
                    }
                    .SuperCorrExpo-scheme .logo-row img {
                        left: 3%;
                        top: -15px;
                    }
                    .SuperCorrExpo-scheme .hero {
                        margin-top: -20px;
                    }
                </style>
            }
            else if (CurrentPage.HasValue("heroColor"))
            {
                var color = Model.Content.GetPropertyValue("heroColor");
                
                <style>
                    .hero {
                        background: @color;
                        border-radius: 0;
                        z-index: -999;
                    }
                    .PaperCon-scheme .logo-row img:nth-of-type(2) {
                        display: none;
                    }
                    .PaperCon-scheme .logo-row img:nth-of-type(3) {
                        display: none; 
                    }
                </style>
            }
            else
            {
                <style>
                    .hero {
                        background: #02995c;
                    }
                    .PaperCon-scheme .logo-row img:nth-of-type(2) {
                        display: none;
                    }
                    .PaperCon-scheme .logo-row img:nth-of-type(3) {
                        display: none; 
                    }
                </style>
            }
        }
        <div class="hero-gradient">
            <div class="row">
                <div class="page-head">
                    <h1>@Umbraco.Field("pageTitle")</h1>
                    <h4>@Umbraco.Field("pageSubheader")</h4>
                </div>
            </div>
        </div>
        
    </div>

<main role="main" class="row child-body">

    <div class="four-col">
        <nav class="sidebar" id="sidebar">
            @if (Model.Content.Children.Count() > 0 || multiUrlPicker.Any())
            {
                <h6>Important Links</h6>
                <ul>
                    @foreach (var childPage in CurrentPage.Children)
                    {
                        <li><a href="@childPage.Url">@childPage.Name</a></li>
                    }
                    @foreach (var item in multiUrlPicker)
                    {
                        <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
                    }
                </ul>
            }

            @if (CurrentPage.Parent.Name != rootNode.Name)
            {
                <h6>@CurrentPage.Parent.Name</h6>
                <ul>
                    @foreach (var page in CurrentPage.Parent.Children)
                    {
                        <li><a @(page.hiddenNavEl.ToString() == "Hidden" ? "class=hidden" : "") href="@page.Url">@page.Name</a></li>
                    }
                </ul>
            }
            @if (rootNode.HasValue("registerButton"))
            {
                <a class="btn btn-action btn-lg" href="@Umbraco.Field("registerButton", recursive: true)" target="_blank">Register Now!</a>
            }
            else
            {
                <a class="btn btn-disable btn-lg">Registration Opening Soon</a>
            }

        </nav>
    </div>

    <div class="content three-fourth-col">
        @if (CurrentPage.hiddenNavEl.ToString() == "Hidden")
        {
            <div class="info-coming">
                <a href="http://www.tappi.org/" target="_blank"><img src="~/App/img/TAPPI_logo.png" width="180" /></a>
                <h2><i class="fa fa-exclamation-circle"></i> Information coming soon...</h2>
                <p>We're sorry! TAPPI is working to deliver this information soon. Check back often!</p>
            </div>
        }
        @if (CurrentPage.mainContent != null) {
            @CurrentPage.mainContent
        }
        @Model.Content.GetGridHtml("additionalContent", "Bootstrap2")
        @Model.Content.GetGridHtml("UICards")
        </div>
    <a href="#top">Back to Top</a>
    
</main>