@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{
    var rootNode = CurrentPage.AncestorOrSelf(1);
}

<div class="banner" role="banner">
    <div class="hero">
        @{
            if (CurrentPage.HasValue("heroImage"))
            {
                var hero = Umbraco.Media(CurrentPage.heroImage);
                <style>
                        .hero {
                            background: url(@hero.umbracoFile) no-repeat;
                            background-size: 100%;
                        }
                </style>
            }
        }

                @if (CurrentPage.HasValue("uploadVideo"))
            {
                    <video autoplay>
                        <source src="@Umbraco.Media(CurrentPage.uploadVideo).Url" type="video/mp4">
                        <source src="@Umbraco.Media(CurrentPage.uploadVideoOgg).Url" type="video/ogg">
                        <source src="@Umbraco.Media(CurrentPage.uploadVideoWebm).Url" type="video/webm">
                        Your browser does not support HTML5 video.
                    </video>
                }
                else
                {
                    <div class="two-third-col">
                        <div class="hero-content">
                            <h1 class="heroText">@Umbraco.Field("heroImageTitle")</h1>
                            <h3 class="subHeroText">@Umbraco.Field("heroImageTagline")</h3>
                        </div>

                    </div>
                }
            </div>
       
        </div>
</div>

<main class="row">
  @{ // <div class="two-third-col">
       // <h3>@Umbraco.Field("introHeader")</h3>
       // <h5 class="subtitle">@Umbraco.Field("introSubheader")</h5>
       // <p>@Umbraco.Field("mainIntroContent")</p>
    //</div>
      }

    <div class="two-third-col">
        @Html.Partial("news")
    </div>

    <div class="one-third-col">

        @if (Model.Content.GetProperty("registerButton").HasValue)
        {
            <a class="btn btn-action btn-lg" href="@Umbraco.Field("registerButton")" target="_blank">Register Now!</a>
        }
        else
        {
            <a class="btn btn-disable btn-lg">Registration Opening Soon</a>
        }

    </div>
</main>

@Model.Content.GetGridHtml("UICards")

<div class="row sign-up">
    <form>
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" name="fullName" id="fullName" placeholder="Enter Full Name" />
        </div>
        <div class="form-group">
            <label for="validEmail">Email</label>
            <input type="text" name="Email" id="validEmail" placeholder="Enter Email" />
        </div>
        <button type="submit" class="btn">Send It!</button>
    </form>
</div>

<div class="row home-bg">
    <div class="one-col">
        @Umbraco.Field("hotelInfo")
    </div>
    <img class="bg-img" src="~/App/img/location-bg.png" />
    <div class="one-col" id="location">
    </div>
</div>

@if (CurrentPage.HasValue("uploadVideo"))
{
    <div class="row video-bg">
        <video controls>
            <source src="@Umbraco.Media(CurrentPage.uploadVideo).Url" type="video/mp4">
            <source src="@Umbraco.Media(CurrentPage.uploadVideoOgg).Url" type="video/ogg">
            <source src="@Umbraco.Media(CurrentPage.uploadVideoWebm).Url" type="video/webm">
            Your browser does not support HTML5 video.
        </video>
    </div>
}

@if (CurrentPage.HasValue("sponsorsField"))
{
    <div class="row home-bg-white">
        <div class="headline"><h3>Sponsors</h3></div>
        <div class="sponsors">
            @Umbraco.Field("sponsorsField")
        </div>
    </div>
}
