@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{
    var rootNode = CurrentPage.AncestorOrSelf(1);
}

<div class="row banner" role="banner">
    <div class="hero">
        @{
            if (CurrentPage.HasValue("heroImage"))
            {
                var hero = Umbraco.Media(CurrentPage.heroImage);
                <style>
                        .hero {
                            background: url(@hero.umbracoFile) no-repeat;
                            background-size: 100%;
                        }
                </style>
            }
        }

        <h1 class="heroText">@Umbraco.Field("heroImageTitle")</h1>
        <h3 class="subHeroText">@Umbraco.Field("heroImageTagline")</h3>
    </div>
</div>

<main class="row">
    <div class="two-third-col">
        <h3>@Umbraco.Field("introHeader")</h3>
        <h5 class="subtitle">@Umbraco.Field("introSubheader")</h5>
        <p>@Umbraco.Field("mainIntroContent")</p>
    </div>

    <aside class="one-third-col">
        @if (Model.Content.GetProperty("registerButton").HasValue)
        {
            <a class="btn btn-action btn-lg" href="@Umbraco.Field("registerButton")" target="_blank">Register Now!</a>
        }
        else
        {
            <a class="btn btn-disable btn-lg">Registration Opening Soon</a>
        }

    </aside>

</main>







<!-- <div class="full-width-row">-->
@Model.Content.GetGridHtml("UICards")

<!--  </div>-->

<div class="row home-bg">
    <div class="headline"><h3>Location</h3></div>
    <div class="one-col" id="location">
    </div>
    <div class="two-col-even">
        <h5>Hyatt Regency</h5>
        <p>Curabitur viverra gravida risus, et pellentesque nisi porttitor a. Fusce erat ligula, tincidunt quis dolor ut, vehicula dapibus tellus. Aenean et tellus vel libero tristique scelerisque. Donec cursus pretium nunc, eget accumsan sem feugiat eu. </p>
        <ul>
            <li>4321 Addington Place</li>
            <li>Cincinnati, OH</li>
            <li>Follow these instructions</li>
        </ul>
        <a class="btn" href="#">Book Room</a>
    </div>
    <div class="two-col-even">
        <h5>Hyatt Regency</h5>
        <p>Curabitur viverra gravida risus, et pellentesque nisi porttitor a. Fusce erat ligula, tincidunt quis dolor ut, vehicula dapibus tellus. Aenean et tellus vel libero tristique scelerisque. Donec cursus pretium nunc, eget accumsan sem feugiat eu. </p>
        <ul>
            <li>4321 Addington Place</li>
            <li>Cincinnati, OH</li>
            <li>Follow these instructions</li>
        </ul>
        <a class="btn" href="#">Book Room</a>
    </div>
</div>



<div class="row">
    <div class="headline"><h3>Sponsors</h3></div>
    <div class="sponsors">
        @Umbraco.Field("sponsorsField")
    </div>
</div>