@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}


    <header>
        <div class="col hero">
            @{
                if (CurrentPage.HasValue("heroImage"))
                {
                    var dynamicMediaItem = Umbraco.Media(CurrentPage.heroImage);
                    <style>
                        .hero {
                            background: url(@dynamicMediaItem.umbracoFile) no-repeat;
                        }
                    </style>
                }
            }

            <h1 class="heroText">@Umbraco.Field("heroImageTitle")</h1>
            <h3 class="subHeroText">@Umbraco.Field("heroImageTagline")</h3>
        </div>
    </header>

<main class="row">
    <div class="two-third-col">
        <h2>@Umbraco.Field("introHeader")</h2>
        <p>@Umbraco.Field("mainIntroContent")</p>
    </div>

    <aside class="one-third-col">
        <article class="card">
            <div class="card-inner">
                <div class="card-title">
                    <h4>Card Title</h4>
                </div>
                <div class="card-text">
                    <p>This is a simple card for tidbits of information. Important links or a quick line is all you need. Limit to the size of a tweet.</p>
                </div>
                <div class="card-action">
                    <a href="#">Card Link</a>
                </div>
            </div>
        </article>
    </aside>
</main>

<div class="row">
    <div class="one-third-col">
        <article class="card">
            <div class="card-inner">
                <div class="card-title">
                    <h4>Card Title</h4>
                </div>
                <div class="card-text">
                    <p>This is a simple card for tidbits of information. Important links or a quick line is all you need. Limit to the size of a tweet.</p>
                </div>
                <div class="card-action">
                    <a href="#">Card Link</a>
                </div>
            </div>
        </article>
    </div>
    <div class="one-third-col">
        <article class="card">
            <div class="card-inner">
                <div class="card-title">
                    <h4>Card Title</h4>
                </div>
                <div class="card-text">
                    <p>This is a simple card for tidbits of information. Important links or a quick line is all you need. Limit to the size of a tweet.</p>
                </div>
                <div class="card-action">
                    <a href="#">Card Link</a>
                </div>
            </div>
        </article>
    </div>
    <div class="one-third-col">
        <article class="card">
            <div class="card-inner">
                <div class="card-title">
                    <h4>Card Title</h4>
                </div>
                <div class="card-text">
                    <p>This is a simple card for tidbits of information. Important links or a quick line is all you need. Limit to the size of a tweet.</p>
                </div>
                <div class="card-action">
                    <a href="#">Card Link</a>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="row">
    <div class="one-col" id="location">
        
    </div>
</div>

