@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@{
    var rootNode = CurrentPage.AncestorOrSelf(1);
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="@Umbraco.Field("introHeader")">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <title>@rootNode.Name @((@CurrentPage.Name.ToString() != @rootNode.Name.ToString()) ? "- " + @CurrentPage.Name : "" )</title>

    <!-- Styles & Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/@rootNode.Name.ToString()-style.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <script src="~/scripts/social-media.js"></script>
</head>
<body class="@rootNode.Name-scheme">
    <!----------------------->
    <div class="container">
        @Umbraco.RenderMacro("TappiTab")
        @Html.Partial("Header")
        @RenderBody()
    </div>

    @Html.Partial("Footer")

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>
    <script src="~/scripts/@rootNode.Name-GoogleMapsConfig.js"></script>
    <script src="~/scripts/navigation.js"></script>
</body>
</html>